<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="BoardMapper">

	<insert id="insertBoard" parameterType="board">
		INSERT INTO board(num, title, writer, content, pwd)
		VALUES ((SELECT nvl(max(num), 0)+1 FROM board), #{title}, #{writer}, #{content}, #{pwd})
	</insert>
	
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	<select id="listBoard" parameterType="hashmap" resultType="board">
		<![CDATA[
			SELECT *
			FROM (SELECT rownum, A.*
					FROM (SELECT * FROM board ORDER BY num DESC) A
					WHERE rownum <= #{end})
			WHERE rownum >= #{begin}
		]]>
	</select>

	<update id="updateHit" parameterType="int">
		UPDATE board
		SET hit = hit + 1
		WHERE num=#{num}
	</update>
	
	<select id="detailBoard" parameterType="int" resultType="board">
		SELECT * FROM board WHERE num=#{num}
	</select>

</mapper>