<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="TestMapper">

	<select id="findAll" parameterType="test" resultType="test">
		SELECT * FROM test
		<if test="search_option == 'all' ">
			where id like '%'||#{keyword}||'%'
					or name like '%' || #{keyword}||'%'
					or choose like '%'||#{keyword}||'%'   
		</if>
		<if test="search_option == 'id' ">
			where id like '%'||#{keyword}||'%'
		</if>
		<if test="search_option == 'name' ">
			where name like '%'||#{keyword}||'%'
		</if>
		<if test="search_option == 'choose' ">
			where choose like '%'||#{keyword}||'%'
		</if>
	</select>

	<insert id="testwrite" parameterType="test">
		INSERT INTO test(id, name, yn, choose)
		VALUES (#{id}, #{name}, #{yn}, #{choose})
	</insert>
	
	<select id="read" parameterType="string" resultType="test">
		SELECT * FROM test WHERE id=#{id}
	</select>
	
	<update id="update" parameterType="test">
		UPDATE test
		SET name=#{name}, yn=#{yn}, choose=#{choose}
		WHERE id=#{id}
	</update>

</mapper>